[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone60.cfg

[versions]
createcoverage = 1.5
watchdog = 2.1.6

# Added by buildout at 2023-12-20 16:13:32.230586
bleach = 6.0.0
build = 0.10.0
check-manifest = 0.49
cmarkgfm = 2022.10.27
coverage = 7.2.7
i18ndude = 6.1.0
keyring = 24.2.0
markdown-it-py = 3.0.0
mdurl = 0.1.2
pep440 = 0.1.2
pkginfo = 1.9.6
pyproject-hooks = 1.0.0
pyroma = 4.2
pytest = 7.4.3
pytest-cov = 4.1.0
pytest-docker = 2.0.1
pytest-mock = 3.12.0
pytest-plone = 0.2.0
readme-renderer = 40.0
requests-mock = 1.11.0
requests-toolbelt = 1.0.0
rfc3986 = 2.0.0
rich = 13.5.2
towncrier = 23.6.0
trove-classifiers = 2023.8.7
twine = 4.0.2
zest.releaser = 9.0.0
zestreleaser.towncrier = 1.3.0

# Required by:
# towncrier==23.6.0
click-default-group = 1.2.4

# Required by:
# pytest-plone==0.2.0
gocept.pytestlayer = 8.1

# Required by:
# towncrier==23.6.0
incremental = 22.10.0

# Required by:
# pytest==7.4.3
iniconfig = 2.0.0

# Required by:
# keyring==24.2.0
jaraco.classes = 3.3.0

# Required by:
# jaraco.classes==3.3.0
more-itertools = 10.1.0

# Required by:
# bleach==6.0.0
webencodings = 0.5.1
